.login {
     
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid red;
    padding: 10px;
    width: 50%;

  }
  
  .lInput{
    height: 100%;
    padding: 10px;
    width: 100%;
    border-color: 1px solid green;
  }
  
  .lButton {
    border: none;
    padding: 10px 20px;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .lButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }